name: Publish GitHub Pages
on:
  push:
    branches:
      - master

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Extract repository owner and repository name
        id: extract-owner
        run: |
          echo "::set-output name=repository_owner::$(echo '${{ github.repository }}' | cut -d/ -f1)"
          echo "::set-output name=repository_name::$(echo '${{ github.repository }}' | cut -d/ -f2 | tr '[:upper:]' '[:lower:]')"

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          file: .github/actions/marp-custom/Dockerfile
          push: true
          tags: ${{ steps.extract-owner.outputs.repository_owner }}/${{ steps.extract-owner.outputs.repository_name }}/marp-custom:${{ github.sha }}

      - name: Convert Markdown into HTML and PDF (ja)
        run: docker run --rm -v ${{ github.workspace }}/contents:/app ghcr.io/${{ steps.extract-owner.outputs.repository_owner }}/${{ steps.extract-owner.outputs.repository_name }}/marp-custom:${{ github.sha }} /usr/local/bin/marp --config-file /app/ja/.marprc.yml --input /app/ja --output /app/ja --allow-local-files --pdf --jpeg-quality 85 --allow-file-protocol --no-sandbox --protocol-timeout 60000

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./contents
